{% macro recaptcha(class) %}
    <div
        class="{{ class }}"
        id="recaptcha"
        data-badge="inline"
        data-callback="formSubmit"
        data-sitekey="6LeNBXQUAAAAAD0QVvKM9L2fJGRTRvcZdDma6qZS"
        data-size="invisible">
    </div>
{% endmacro %}